Repository flutter/cocoon, changes with the owners that CODEOWNERS names for each.
All owners: @keyonghan, @CaseyHillers, @drewroengoogle, @XilaiZhang, @Piinks, @ricardoamador, @Hixie, @yusuf-goog, @gspencergoog, @godofredoc

CODEOWNERS:

# Below is a list of Flutter team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

## app_dart APIs
app_dart/lib/src/request_handlers/check_flaky_builders.dart                 @keyonghan
app_dart/lib/src/request_handlers/create_branch.dart                        @CaseyHillers
app_dart/lib/src/request_handlers/dart_internal_subscription.dart           @drewroengoogle
app_dart/lib/src/request_handlers/file_flaky_issue_and_pr.dart              @keyonghan
app_dart/lib/src/request_handlers/flush_cache.dart                          @keyonghan
app_dart/lib/src/request_handlers/get_build_status.dart                     @keyonghan
app_dart/lib/src/request_handlers/get_build_status_badge.dart               @CaseyHillers
app_dart/lib/src/request_handlers/get_release_branches.dart                 @CaseyHillers
app_dart/lib/src/request_handlers/get_repos.dart                            @keyonghan
app_dart/lib/src/request_handlers/get_status.dart                           @keyonghan
app_dart/lib/src/request_handlers/get_green_commits.dart                    @XilaiZhang
app_dart/lib/src/request_handlers/github_rate_limit_status.dart             @keyonghan
app_dart/lib/src/request_handlers/github_webhook.dart                       @keyonghan
app_dart/lib/src/request_handlers/github/webhook_subscription.dart          @keyonghan
app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart          @keyonghan
app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart         @keyonghan
app_dart/lib/src/request_handlers/push_build_status_to_github.dart          @keyonghan
app_dart/lib/src/request_handlers/push_gold_status_to_github.dart           @Piinks
app_dart/lib/src/request_handlers/reset_prod_task.dart                      @keyonghan
app_dart/lib/src/request_handlers/reset_try_task.dart                       @keyonghan
app_dart/lib/src/request_handlers/scheduler/batch_backfiller.dart           @keyonghan
app_dart/lib/src/request_handlers/scheduler/request_subscription.dart       @keyonghan
app_dart/lib/src/request_handlers/scheduler/vacuum_stale_tasks.dart         @keyonghan
app_dart/lib/src/request_handlers/update_existing_flaky_issues.dart         @keyonghan
app_dart/lib/src/request_handlers/update_task_status.dart                   @keyonghan
app_dart/lib/src/request_handlers/vacuum_github_commits.dart                @keyonghan

## apps
auto_submit                                                                 @ricardoamador
triage_bot                                                                  @Hixie

## cipd packages
cipd_packages/codesign/**                                                   @XilaiZhang
cipd_packages/device_doctor/**                                              @yusuf-goog
cipd_packages/doxygen/**                                                    @gspencergoog
cipd_packages/ruby/**                                                       @godofredoc

## gh_actions
gh_actions/third_party/no-response/**                                       @godofredoc

Adding show statements.
  app_dart/pubspec.yaml
  packages/buildbucket-dart/lib/buildbucket_pb.dart
Owners: none

Change version to 1.0.8
  packages/buildbucket-dart/CHANGELOG.md
  packages/buildbucket-dart/pubspec.yaml
Owners: none

It finally works setting properties.
  app_dart/pubspec.yaml
  app_dart/test/service/luci_build_service_test.dart
Owners: none

Updated to the correct config
  app_dart/pubspec.yaml
Owners: none

support multiple entries
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
  app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart
  app_dart/lib/src/service/github_checks_service.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/model/firestore/task_test.dart
  app_dart/test/request_handlers/postsubmit_luci_subscription_test.dart
  app_dart/test/service/luci_build_service_test.dart
  app_dart/test/src/utilities/entity_generators.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: @keyonghan

format
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: none

experiement
  cloud_build/verify_provenance.sh
Owners: none

update firestore
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/update_task_status.dart
  app_dart/test/request_handlers/update_task_status_test.dart
Owners: @keyonghan

try
  app_dart/lib/src/request_handlers/update_task_status.dart
Owners: @keyonghan

experiment
  cloud_build/verify_provenance.sh
Owners: none

restore source uri
  cloud_build/verify_provenance.sh
Owners: none

use firestore
  app_dart/lib/src/request_handlers/update_task_status.dart
  app_dart/test/request_handlers/update_task_status_test.dart
Owners: @keyonghan

use firestore
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
  app_dart/test/request_handlers/postsubmit_luci_subscription_test.dart
Owners: @keyonghan

remove obsolete comments
  app_dart/test/service/luci_build_service_test.dart
Owners: none

Supports Firestore task update for /api/update-task-status (#3495)
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/update_task_status.dart
  app_dart/test/request_handlers/update_task_status_test.dart
Owners: @keyonghan

Support multiple records for retries on a same task (#3494)
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
  app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart
  app_dart/lib/src/service/github_checks_service.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/model/firestore/task_test.dart
  app_dart/test/request_handlers/postsubmit_luci_subscription_test.dart
  app_dart/test/service/luci_build_service_test.dart
  app_dart/test/src/utilities/entity_generators.dart
  app_dart/test/src/utilities/mocks.mocks.dart
  cloud_build/verify_provenance.sh
Owners: @keyonghan

restore
  cloud_build/verify_provenance.sh
Owners: none

Restore deploy repo url (#3504)
  cloud_build/verify_provenance.sh
Owners: none

Treat `flutter-gold` failures in `flutter/engine` as failures. (#3487)
  auto_submit/lib/validations/ci_successful.dart
  auto_submit/test/validations/ci_successful_test.dart
Owners: @ricardoamador

update task when multiple records exist
  app_dart/lib/src/request_handlers/update_task_status.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/request_handlers/update_task_status_test.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: @keyonghan

add comment
  app_dart/lib/src/request_handlers/update_task_status.dart
Owners: @keyonghan

use const variables
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

add more variable
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/service/firestore.dart
Owners: none

Update GitHub gold status checks.
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
  app_dart/test/request_handlers/push_gold_status_to_github_test.dart
Owners: @Piinks

Fix contains check.
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
Owners: @Piinks

Update Firestore task when mulitple reruns exist (#3506)
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/update_task_status.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/request_handlers/update_task_status_test.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: @keyonghan

add test
  app_dart/test/service/luci_build_service_test.dart
Owners: none

support firestore updat
  app_dart/lib/src/request_handlers/reset_prod_task.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/request_handlers/reset_prod_task_test.dart
Owners: @keyonghan

sync variable
  app_dart/lib/src/request_handlers/reset_prod_task.dart
Owners: @keyonghan

mdebbar for the win.
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
Owners: @Piinks

++
  app_dart/test/request_handlers/push_gold_status_to_github_test.dart
Owners: none

Update status checks for Gold Status -> Github (#3508)
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
  app_dart/test/request_handlers/push_gold_status_to_github_test.dart
Owners: @Piinks

Adding new test endpoint for buildbucket v2.
  app_dart/lib/src/request_handlers/build_bucket_version_two.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/service/luci_build_service_test.dart
Owners: none

Revert "Update deps in buildbucket package (#3492)"
  packages/buildbucket-dart/lib/buildbucket_pb.dart
  packages/buildbucket-dart/pubspec.yaml
Owners: none

Revert cocoon 3492, changes to update dependencies (#3509)
  packages/buildbucket-dart/lib/buildbucket_pb.dart
  packages/buildbucket-dart/pubspec.yaml
Owners: none

Revert changes and format.
  packages/buildbucket-dart/CHANGELOG.md
  packages/buildbucket-dart/lib/buildbucket_pb.dart
  packages/buildbucket-dart/pubspec.yaml
Owners: none

Add note about developing changes locally before pushing.
  packages/buildbucket-dart/README.md
Owners: none

update firestore task documents
  app_dart/lib/src/request_handlers/scheduler/batch_backfiller.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/request_handlers/scheduler/batch_backfiller_test.dart
  app_dart/test/service/firestore_test.dart
Owners: @keyonghan

update doc
  app_dart/lib/src/request_handlers/scheduler/batch_backfiller.dart
Owners: @keyonghan

Update Firestore task documents when back filling (#3510)
  app_dart/lib/src/request_handlers/scheduler/batch_backfiller.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/request_handlers/scheduler/batch_backfiller_test.dart
  app_dart/test/service/firestore_test.dart
Owners: @keyonghan
