Repository flutter/cocoon, changes with the owners that CODEOWNERS names for each.
All owners: @keyonghan, @CaseyHillers, @drewroengoogle, @XilaiZhang, @Piinks, @ricardoamador, @Hixie, @yusuf-goog, @gspencergoog, @godofredoc

Add google protos to buildbucket update version, deps (#3493)
  packages/buildbucket-dart/CHANGELOG.md
  packages/buildbucket-dart/README.md
  packages/buildbucket-dart/lib/buildbucket_pb.dart
  packages/buildbucket-dart/pubspec.yaml
Owners: none

Update Firestore when reseting a prod task (#3505)
  app_dart/lib/src/request_handlers/reset_prod_task.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/request_handlers/reset_prod_task_test.dart
  app_dart/test/service/luci_build_service_test.dart
Owners: @keyonghan

Testing with new endpoint and test topic.
  app_dart/bin/gae_server.dart
  app_dart/bin/local_server.dart
  app_dart/lib/server.dart
  app_dart/lib/src/request_handlers/build_bucket_version_two.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/pubspec.yaml
Owners: none

initial table
  CI_YAML.md
Owners: none

type update
  CI_YAML.md
Owners: none

add more
  CI_YAML.md
Owners: none

add recipe cq
  CI_YAML.md
Owners: none

use yaml
  CI_YAML.md
Owners: none

fix tab space
  CI_YAML.md
Owners: none

use table
  CI_YAML.md
Owners: none

tags
  CI_YAML.md
Owners: none

update existing ones
  CI_YAML.md
Owners: none

add more
  CI_YAML.md
Owners: none

fix url
  CI_YAML.md
Owners: none

add dimention property
  CI_YAML.md
Owners: none

dimentions
  CI_YAML.md
Owners: none

comments
  CI_YAML.md
Owners: none

Update CI_YAML doc about properties/dimensions (#3507)
  CI_YAML.md
Owners: none

update firestore documents
  app_dart/lib/src/request_handlers/scheduler/vacuum_stale_tasks.dart
  app_dart/test/request_handlers/scheduler/vacuum_stale_tasks_test.dart
Owners: @keyonghan

fix analyze
  .ci.yaml
  CI_YAML.md
Owners: none

enable analyze test when CI_YAML.md changes
  app_dart/integration_test/data/cocoon_config.json
Owners: none

Update task documents in Firestore when vacuuming stale tasks (#3511)
  .ci.yaml
  CI_YAML.md
  app_dart/integration_test/data/cocoon_config.json
  app_dart/lib/src/request_handlers/scheduler/vacuum_stale_tasks.dart
  app_dart/test/request_handlers/scheduler/vacuum_stale_tasks_test.dart
Owners: @keyonghan

commit model
  app_dart/lib/src/model/firestore/commit.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/test/model/firestore/commit_test.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/src/utilities/entity_generators.dart
Owners: none

typo
  app_dart/lib/src/model/firestore/commit.dart
  app_dart/lib/src/model/firestore/task.dart
Owners: none

update test title
  app_dart/test/model/firestore/commit_test.dart
Owners: none

comments
  app_dart/lib/src/model/firestore/commit.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

license fix
  app_dart/test/model/firestore/commit_test.dart
Owners: none

Create firestore commit model and reference it everywhere (#3512)
  app_dart/lib/src/model/firestore/commit.dart
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/test/model/firestore/commit_test.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/src/utilities/entity_generators.dart
Owners: none

update firestore
  app_dart/lib/src/model/firestore/commit.dart
  app_dart/lib/src/model/firestore/github_gold_status.dart
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/test/model/firestore/github_gold_status_test.dart
  app_dart/test/request_handlers/push_gold_status_to_github_test.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/src/utilities/entity_generators.dart
Owners: @Piinks

update doc
  app_dart/lib/src/service/firestore.dart
Owners: none

remove trailing space
  app_dart/lib/src/service/firestore.dart
Owners: none

add firestore test
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

remove unnecessary import
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
Owners: @Piinks

add trailing comma
  app_dart/test/service/firestore_test.dart
Owners: none

Updates github gold status to Firestore (#3513)
  app_dart/lib/src/model/firestore/commit.dart
  app_dart/lib/src/model/firestore/github_gold_status.dart
  app_dart/lib/src/request_handlers/push_gold_status_to_github.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/test/model/firestore/github_gold_status_test.dart
  app_dart/test/request_handlers/push_gold_status_to_github_test.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/src/utilities/entity_generators.dart
Owners: @Piinks

Testing publish
  app_dart/lib/src/service/build_bucket_v2_client.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/src/service/fake_luci_build_service.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: none

Adding the webhook http caller.
  auto_submit/lib/service/discord_notification.dart
Owners: @ricardoamador

CODEOWNERS:

# Below is a list of Flutter team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

## app_dart APIs
app_dart/lib/src/request_handlers/check_flaky_builders.dart                 @keyonghan
app_dart/lib/src/request_handlers/create_branch.dart                        @CaseyHillers
app_dart/lib/src/request_handlers/dart_internal_subscription.dart           @drewroengoogle
app_dart/lib/src/request_handlers/file_flaky_issue_and_pr.dart              @keyonghan
app_dart/lib/src/request_handlers/flush_cache.dart                          @keyonghan
app_dart/lib/src/request_handlers/get_build_status.dart                     @keyonghan
app_dart/lib/src/request_handlers/get_build_status_badge.dart               @CaseyHillers
app_dart/lib/src/request_handlers/get_release_branches.dart                 @CaseyHillers
app_dart/lib/src/request_handlers/get_repos.dart                            @keyonghan
app_dart/lib/src/request_handlers/get_status.dart                           @keyonghan
app_dart/lib/src/request_handlers/get_green_commits.dart                    @XilaiZhang
app_dart/lib/src/request_handlers/github_rate_limit_status.dart             @keyonghan
app_dart/lib/src/request_handlers/github_webhook.dart                       @keyonghan
app_dart/lib/src/request_handlers/github/webhook_subscription.dart          @keyonghan
app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart          @keyonghan
app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart         @keyonghan
app_dart/lib/src/request_handlers/push_build_status_to_github.dart          @keyonghan
app_dart/lib/src/request_handlers/push_gold_status_to_github.dart           @Piinks
app_dart/lib/src/request_handlers/reset_prod_task.dart                      @keyonghan
app_dart/lib/src/request_handlers/reset_try_task.dart                       @keyonghan
app_dart/lib/src/request_handlers/scheduler/batch_backfiller.dart           @keyonghan
app_dart/lib/src/request_handlers/scheduler/request_subscription.dart       @keyonghan
app_dart/lib/src/request_handlers/scheduler/vacuum_stale_tasks.dart         @keyonghan
app_dart/lib/src/request_handlers/update_existing_flaky_issues.dart         @keyonghan
app_dart/lib/src/request_handlers/update_task_status.dart                   @keyonghan
app_dart/lib/src/request_handlers/vacuum_github_commits.dart                @keyonghan

## apps
auto_submit                                                                 @ricardoamador
triage_bot                                                                  @Hixie

## cipd packages
cipd_packages/codesign/**                                                   @XilaiZhang
cipd_packages/device_doctor/**                                              @yusuf-goog
cipd_packages/doxygen/**                                                    @gspencergoog
cipd_packages/ruby/**                                                       @godofredoc

## gh_actions
gh_actions/third_party/no-response/**                                       @godofredoc
