Repository flutter/cocoon, changes with the owners that CODEOWNERS names for each.
All owners: @keyonghan, @CaseyHillers, @drewroengoogle, @XilaiZhang, @Piinks, @ricardoamador, @Hixie, @yusuf-goog, @gspencergoog, @godofredoc

CODEOWNERS:

# Below is a list of Flutter team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

## app_dart APIs
app_dart/lib/src/request_handlers/check_flaky_builders.dart                 @keyonghan
app_dart/lib/src/request_handlers/create_branch.dart                        @CaseyHillers
app_dart/lib/src/request_handlers/dart_internal_subscription.dart           @drewroengoogle
app_dart/lib/src/request_handlers/file_flaky_issue_and_pr.dart              @keyonghan
app_dart/lib/src/request_handlers/flush_cache.dart                          @keyonghan
app_dart/lib/src/request_handlers/get_build_status.dart                     @keyonghan
app_dart/lib/src/request_handlers/get_build_status_badge.dart               @CaseyHillers
app_dart/lib/src/request_handlers/get_release_branches.dart                 @CaseyHillers
app_dart/lib/src/request_handlers/get_repos.dart                            @keyonghan
app_dart/lib/src/request_handlers/get_status.dart                           @keyonghan
app_dart/lib/src/request_handlers/get_green_commits.dart                    @XilaiZhang
app_dart/lib/src/request_handlers/github_rate_limit_status.dart             @keyonghan
app_dart/lib/src/request_handlers/github_webhook.dart                       @keyonghan
app_dart/lib/src/request_handlers/github/webhook_subscription.dart          @keyonghan
app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart          @keyonghan
app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart         @keyonghan
app_dart/lib/src/request_handlers/push_build_status_to_github.dart          @keyonghan
app_dart/lib/src/request_handlers/push_gold_status_to_github.dart           @Piinks
app_dart/lib/src/request_handlers/reset_prod_task.dart                      @keyonghan
app_dart/lib/src/request_handlers/reset_try_task.dart                       @keyonghan
app_dart/lib/src/request_handlers/scheduler/batch_backfiller.dart           @keyonghan
app_dart/lib/src/request_handlers/scheduler/request_subscription.dart       @keyonghan
app_dart/lib/src/request_handlers/scheduler/vacuum_stale_tasks.dart         @keyonghan
app_dart/lib/src/request_handlers/update_existing_flaky_issues.dart         @keyonghan
app_dart/lib/src/request_handlers/update_task_status.dart                   @keyonghan
app_dart/lib/src/request_handlers/vacuum_github_commits.dart                @keyonghan

## apps
auto_submit                                                                 @ricardoamador
triage_bot                                                                  @Hixie

## cipd packages
cipd_packages/codesign/**                                                   @XilaiZhang
cipd_packages/device_doctor/**                                              @yusuf-goog
cipd_packages/doxygen/**                                                    @gspencergoog
cipd_packages/ruby/**                                                       @godofredoc

## gh_actions
gh_actions/third_party/no-response/**                                       @godofredoc

add firestore client
  app_dart/lib/src/service/access_client_provider.dart
  app_dart/lib/src/service/config.dart
  app_dart/lib/src/service/firestore.dart
Owners: none

remove trailing space
  app_dart/lib/src/service/access_client_provider.dart
Owners: none

Initialize Firestore client and service (#3471)
  app_dart/lib/src/service/access_client_provider.dart
  app_dart/lib/src/service/config.dart
  app_dart/lib/src/service/firestore.dart
Owners: none

start writing to new firestore
  app_dart/lib/cocoon_service.dart
  app_dart/lib/src/service/config.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/service/scheduler_test.dart
  app_dart/test/src/datastore/fake_config.dart
  app_dart/test/src/utilities/mocks.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: none

format
  app_dart/lib/src/service/firestore.dart
Owners: none

remove unused import
  app_dart/lib/src/service/config.dart
  app_dart/test/src/datastore/fake_config.dart
Owners: none

Updated, requests are now being sent successfully, just need to decode them.
  app_dart/bin/gae_server.dart
  app_dart/bin/local_server.dart
  app_dart/lib/server.dart
  app_dart/lib/src/model/luci/buildbucket.dart
  app_dart/lib/src/model/luci/push_message.dart
  app_dart/lib/src/request_handlers/dart_internal_subscription.dart
  app_dart/lib/src/request_handlers/scheduler/request_subscription.dart
  app_dart/lib/src/service/build_bucket_grpc.dart
  app_dart/lib/src/service/build_bucket_v2_client.dart
  app_dart/test/request_handlers/scheduler/request_subscription_test.dart
Owners: @drewroengoogle, @keyonghan

fix test
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
  app_dart/test/request_handlers/vacuum_github_commits_test.dart
Owners: none

Start writing new commits/tasks to Firestore (#3472)
  app_dart/lib/cocoon_service.dart
  app_dart/lib/src/service/config.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/lib/src/service/scheduler.dart
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
  app_dart/test/request_handlers/vacuum_github_commits_test.dart
  app_dart/test/service/firestore_test.dart
  app_dart/test/service/scheduler_test.dart
  app_dart/test/src/datastore/fake_config.dart
  app_dart/test/src/utilities/mocks.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: none

Scheduler request subscription is working now.
  app_dart/lib/src/request_handlers/scheduler/request_subscription.dart
  app_dart/lib/src/service/build_bucket_v2_client.dart
Owners: @keyonghan

Adding new buildbucket v2 fake client. Updating tests.
  app_dart/bin/gae_server.dart
  app_dart/bin/local_server.dart
  app_dart/lib/server.dart
  app_dart/lib/src/request_handlers/dart_internal_subscription.dart
  app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart
  app_dart/lib/src/request_handlers/scheduler/request_subscription.dart
  app_dart/lib/src/service/build_bucket_v2_client.dart
  app_dart/test/request_handlers/presubmit_luci_subscription_test.dart
  app_dart/test/server_test.dart
  app_dart/test/src/service/fake_build_bucket_v2_client.dart
Owners: @drewroengoogle, @keyonghan

Update mocks
  auto_submit/lib/model/auto_submit_query_result.g.dart
  auto_submit/lib/model/big_query_pull_request_record.g.dart
  auto_submit/lib/requests/github_pull_request_event.g.dart
  auto_submit/test/utilities/mocks.mocks.dart
Owners: @ricardoamador

use empty string
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

Use empty string instead of null (#3473)
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

Refresh mocks
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: none

remove builderNumber
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

Remove `builderNumber` when adding new tasks (#3474)
  app_dart/lib/src/service/firestore.dart
  app_dart/test/service/firestore_test.dart
Owners: none

[reverts] Add original PR number in generated PR title
  auto_submit/lib/service/revert_issue_body_formatter.dart
  auto_submit/test/service/revert_issue_body_formatter_test.dart
Owners: @ricardoamador

Add original PR number in revert PR title (#3475)
  auto_submit/lib/service/revert_issue_body_formatter.dart
  auto_submit/test/service/revert_issue_body_formatter_test.dart
Owners: @ricardoamador

Add darwin/Tests/ to packages test pattern
  app_dart/lib/src/request_handlers/github/webhook_subscription.dart
Owners: @keyonghan

New test
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
Owners: none

Format
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
Owners: none

Add darwin/Tests/ to packages test pattern (#3486)
  app_dart/lib/src/request_handlers/github/webhook_subscription.dart
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
Owners: @keyonghan

Treat flutter-gold failures in flutter/engine as failures.
  auto_submit/lib/validations/ci_successful.dart
  auto_submit/test/validations/ci_successful_test.dart
Owners: @ricardoamador

++
  auto_submit/lib/validations/ci_successful.dart
Owners: @ricardoamador

++
  auto_submit/lib/validations/ci_successful.dart
  auto_submit/test/validations/ci_successful_test.dart
Owners: @ricardoamador

Dartfmt.
  auto_submit/lib/validations/ci_successful.dart
Owners: @ricardoamador

++
  auto_submit/lib/validations/ci_successful.dart
Owners: @ricardoamador

start updating post-submit tasks
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/model/firestore/task_test.dart
  app_dart/test/request_handlers/postsubmit_luci_subscription_test.dart
  app_dart/test/src/utilities/entity_generators.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: @keyonghan

add try catch
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
Owners: @keyonghan

Start updating post-submit tasks in Firestore (#3488)
  app_dart/lib/src/model/firestore/task.dart
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
  app_dart/lib/src/service/firestore.dart
  app_dart/test/model/firestore/task_test.dart
  app_dart/test/request_handlers/postsubmit_luci_subscription_test.dart
  app_dart/test/src/utilities/entity_generators.dart
  app_dart/test/src/utilities/mocks.mocks.dart
Owners: @keyonghan

add logs
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
Owners: @keyonghan

Add logs to help triage Firestore task update failure (#3489)
  app_dart/lib/src/request_handlers/postsubmit_luci_subscription.dart
Owners: @keyonghan

Update the CHANGELOG.md
  packages/buildbucket-dart/CHANGELOG.md
Owners: none

Fixed spelling error.
  packages/buildbucket-dart/CHANGELOG.md
Owners: none

Testing marshalling of maps to properties in bbv2.
  app_dart/lib/src/model/luci/buildbucket.dart
  app_dart/lib/src/request_handlers/presubmit_luci_subscription.dart
  app_dart/lib/src/service/luci_build_service.dart
  app_dart/test/service/luci_build_service_test.dart
Owners: @keyonghan

Final remnants of cirrus.
  dashboard/USER_GUIDE.md
  dashboard/lib/logic/qualified_task.dart
Owners: none

Remove final cirrus refs (#3491)
  dashboard/USER_GUIDE.md
  dashboard/lib/logic/qualified_task.dart
Owners: none

Update deps.
  packages/buildbucket-dart/lib/buildbucket_pb.dart
  packages/buildbucket-dart/pubspec.yaml
Owners: none

Update deps in buildbucket package (#3492)
  packages/buildbucket-dart/lib/buildbucket_pb.dart
  packages/buildbucket-dart/pubspec.yaml
Owners: none
