Repository flutter/cocoon, changes with the owners that CODEOWNERS names for each.
All owners: @ricardoamador, @XilaiZhang, @yusuf-goog, @gspencergoog

CODEOWNERS:

# Below is a list of Flutter team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

auto_submit                                        @ricardoamador
cipd_packages/codesign/**                          @XilaiZhang
cipd_packages/device_doctor/**                     @yusuf-goog
cipd_packages/doxygen/**                           @gspencergoog

Missed a conflict.
  auto_submit/lib/service/revert_request_validation_service.dart
Owners: @ricardoamador

Base services needed for the automated revert.
  auto_submit/lib/action/git_cli_revert_method.dart
  auto_submit/lib/action/graphql_revert_method.dart
  auto_submit/lib/action/revert_method.dart
  auto_submit/lib/git/cli_command.dart
  auto_submit/lib/git/git_access_method.dart
  auto_submit/lib/git/git_cli.dart
  auto_submit/lib/git/git_repository_manager.dart
  auto_submit/lib/git/git_revert_branch_name.dart
  auto_submit/lib/service/github_service.dart
  auto_submit/lib/service/revert_issue_body_formatter.dart
  auto_submit/test/git/cli_command_test.dart
  auto_submit/test/git/git_cli_test.dart
  auto_submit/test/git/git_repository_manager_test.dart
  auto_submit/test/src/action/fake_revert_method.dart
  auto_submit/test/src/service/fake_github_service.dart
Owners: @ricardoamador

Updated copyright headers
  auto_submit/lib/service/revert_issue_body_formatter.dart
  auto_submit/test/git/git_repository_manager_test.dart
  auto_submit/test/src/action/fake_revert_method.dart
Owners: @ricardoamador

Add config support for automated revert.
  auto_submit/lib/configuration/repository_configuration.dart
  auto_submit/lib/requests/github_pull_request_event.dart
  auto_submit/lib/requests/github_pull_request_event.g.dart
  auto_submit/lib/service/config.dart
  auto_submit/test/configuration/repository_configuration_data.dart
  auto_submit/test/configuration/repository_configuration_manager_test.dart
  auto_submit/test/configuration/repository_configuration_test.dart
  auto_submit/test/src/service/fake_config.dart
Owners: @ricardoamador

Add missing license
  auto_submit/lib/requests/github_pull_request_event.dart
Owners: @ricardoamador

Add supporting test files for the revert feature.
  auto_submit/lib/model/auto_submit_query_result.dart
  auto_submit/lib/model/auto_submit_query_result.g.dart
  auto_submit/test/src/validations/fake_approval.dart
  auto_submit/test/src/validations/fake_mergeable.dart
  auto_submit/test/src/validations/fake_required_check_runs.dart
  auto_submit/test/src/validations/fake_validation_filter.dart
Owners: @ricardoamador

Switch from PushEvent to Map due to type differences in the Push Event versus other events
  app_dart/lib/src/request_handlers/github/webhook_subscription.dart
  app_dart/lib/src/service/commit_service.dart
  app_dart/test/service/commit_service_test.dart
  app_dart/test/src/utilities/mocks.mocks.dart
  app_dart/test/src/utilities/webhook_generators.dart
Owners: none

Added missing licenses.
  auto_submit/test/src/validations/fake_approval.dart
  auto_submit/test/src/validations/fake_mergeable.dart
  auto_submit/test/src/validations/fake_required_check_runs.dart
  auto_submit/test/src/validations/fake_validation_filter.dart
Owners: @ricardoamador

Add the automated revert functionality.
  auto_submit/lib/requests/check_revert_request.dart
  auto_submit/lib/requests/github_webhook.dart
  auto_submit/lib/service/approver_service.dart
  auto_submit/lib/service/pull_request_validation_service.dart
  auto_submit/lib/service/revert_request_validation_service.dart
  auto_submit/lib/validations/revert.dart
  auto_submit/lib/validations/validation_filter.dart
  auto_submit/test/requests/github_webhook_test_data.dart
  auto_submit/test/service/approver_service_test.dart
  auto_submit/test/service/revert_request_validation_service_test.dart
  auto_submit/test/src/service/fake_approver_service.dart
  auto_submit/test/src/service/fake_github_service.dart
  auto_submit/test/src/validations/fake_revert.dart
  auto_submit/test/utilities/utils.dart
  auto_submit/test/validations/revert_test.dart
Owners: @ricardoamador

Fix double quotes
  app_dart/lib/src/request_handlers/github/webhook_subscription.dart
  app_dart/lib/src/service/commit_service.dart
  app_dart/test/src/utilities/webhook_generators.dart
Owners: none

double quote to single quote
  app_dart/lib/src/service/commit_service.dart
Owners: none

Fix push handling by removing the PushEvent in favor of Map (#3091)
  app_dart/lib/src/request_handlers/github/webhook_subscription.dart
  app_dart/lib/src/service/commit_service.dart
  app_dart/test/service/commit_service_test.dart
  app_dart/test/src/utilities/mocks.mocks.dart
  app_dart/test/src/utilities/webhook_generators.dart
Owners: none

Add single quotes to analysis and apply fixes
  analysis_options.yaml
  app_dart/lib/src/model/appengine/task.dart
  app_dart/lib/src/request_handlers/dart_internal_subscription.dart
  app_dart/lib/src/request_handlers/get_branches.dart
  app_dart/lib/src/service/branch_service.dart
  app_dart/lib/src/service/buildbucket.dart
  app_dart/lib/src/service/datastore.dart
  app_dart/test/model/ci_yaml/ci_yaml_test.dart
  app_dart/test/model/ci_yaml/target_test.dart
  app_dart/test/model/task_test.dart
  app_dart/test/request_handlers/dart_internal_subscription_test.dart
  app_dart/test/request_handlers/get_branches_test.dart
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
  app_dart/test/request_handlers/update_branches_test.dart
  app_dart/test/request_handlers/update_existing_flaky_issues_test_data.dart
  app_dart/test/service/branch_service_test.dart
  app_dart/test/service/commit_service_test.dart
  app_dart/test/service/gerrit_service_test.dart
  app_dart/test/service/scheduler_test.dart
  app_dart/test/src/utilities/webhook_generators.dart
  auto_submit/lib/service/validation_service.dart
  auto_submit/test/configuration/repository_configuration_manager_test.dart
  auto_submit/test/model/auto_submit_query_result_test.dart
  auto_submit/test/requests/check_pull_request_test.dart
  auto_submit/test/src/service/fake_github_service.dart
  auto_submit/test/validations/ci_successful_test_data.dart
  auto_submit/test/validations/revert_test.dart
  auto_submit/test/validations/revert_test_data.dart
Owners: @ricardoamador

Reorder rules
  analysis_options.yaml
Owners: none

Additional single quotes
  cipd_packages/codesign/lib/src/file_codesign_visitor.dart
  cipd_packages/codesign/lib/src/utils.dart
  cipd_packages/codesign/test/file_codesign_visitor_test.dart
Owners: @XilaiZhang

device doctor analyze
  cipd_packages/device_doctor/lib/src/ios_device.dart
Owners: @yusuf-goog

Enforce single quotes in dart analyze (#3092)
  analysis_options.yaml
  app_dart/lib/src/model/appengine/task.dart
  app_dart/lib/src/request_handlers/dart_internal_subscription.dart
  app_dart/lib/src/request_handlers/get_branches.dart
  app_dart/lib/src/service/branch_service.dart
  app_dart/lib/src/service/buildbucket.dart
  app_dart/lib/src/service/datastore.dart
  app_dart/test/model/ci_yaml/ci_yaml_test.dart
  app_dart/test/model/ci_yaml/target_test.dart
  app_dart/test/model/task_test.dart
  app_dart/test/request_handlers/dart_internal_subscription_test.dart
  app_dart/test/request_handlers/get_branches_test.dart
  app_dart/test/request_handlers/github/webhook_subscription_test.dart
  app_dart/test/request_handlers/update_branches_test.dart
  app_dart/test/request_handlers/update_existing_flaky_issues_test_data.dart
  app_dart/test/service/branch_service_test.dart
  app_dart/test/service/commit_service_test.dart
  app_dart/test/service/gerrit_service_test.dart
  app_dart/test/service/scheduler_test.dart
  auto_submit/lib/service/validation_service.dart
  auto_submit/test/configuration/repository_configuration_manager_test.dart
  auto_submit/test/model/auto_submit_query_result_test.dart
  auto_submit/test/requests/check_pull_request_test.dart
  auto_submit/test/src/service/fake_github_service.dart
  auto_submit/test/validations/ci_successful_test_data.dart
  auto_submit/test/validations/revert_test.dart
  auto_submit/test/validations/revert_test_data.dart
  cipd_packages/codesign/lib/src/file_codesign_visitor.dart
  cipd_packages/codesign/lib/src/utils.dart
  cipd_packages/codesign/test/file_codesign_visitor_test.dart
  cipd_packages/device_doctor/lib/src/ios_device.dart
Owners: @ricardoamador, @XilaiZhang, @yusuf-goog

Update with changes from code review.
  auto_submit/lib/action/git_cli_revert_method.dart
  auto_submit/lib/git/git_access_method.dart
  auto_submit/lib/git/git_cli.dart
  auto_submit/lib/git/git_repository_manager.dart
  auto_submit/lib/git/git_utilities.dart
  auto_submit/test/git/git_cli_test.dart
  auto_submit/test/git/git_repository_manager_test.dart
Owners: @ricardoamador

Fixed dependency version
  auto_submit/pubspec.yaml
Owners: @ricardoamador

fixed formatting.
  auto_submit/lib/git/git_utilities.dart
Owners: @ricardoamador

Remove the graphql revert method as it is currently broken.
  auto_submit/lib/action/graphql_revert_method.dart
Owners: @ricardoamador

Update code to remove the graphql impl for now.
  auto_submit/lib/action/git_cli_revert_method.dart
  auto_submit/lib/git/git_cli.dart
  auto_submit/lib/git/git_repository_manager.dart
  auto_submit/lib/git/utilities.dart
  auto_submit/test/git/git_cli_test.dart
  auto_submit/test/git/git_repository_manager_test.dart
Owners: @ricardoamador

Remove the hardcoded auto-submit account from the repository configuration.
  auto_submit/lib/configuration/repository_configuration.dart
  auto_submit/test/configuration/repository_configuration_manager_test.dart
Owners: @ricardoamador

Updated to remove the testing changes.
  auto_submit/lib/configuration/repository_configuration.dart
  auto_submit/lib/service/config.dart
Owners: @ricardoamador

Automatic Revert (Part 1): Base services needed for the automated revert. (#3083)
  auto_submit/lib/action/git_cli_revert_method.dart
  auto_submit/lib/action/revert_method.dart
  auto_submit/lib/git/cli_command.dart
  auto_submit/lib/git/git_cli.dart
  auto_submit/lib/git/git_repository_manager.dart
  auto_submit/lib/git/utilities.dart
  auto_submit/lib/service/github_service.dart
  auto_submit/lib/service/revert_issue_body_formatter.dart
  auto_submit/test/git/cli_command_test.dart
  auto_submit/test/git/git_cli_test.dart
  auto_submit/test/git/git_repository_manager_test.dart
  auto_submit/test/src/action/fake_revert_method.dart
  auto_submit/test/src/service/fake_github_service.dart
Owners: @ricardoamador

Clarify the labels used by the revert service. And add a TODO to link the one page design doc when finished.
  auto_submit/lib/service/config.dart
Owners: @ricardoamador

Formatting.
  auto_submit/lib/service/config.dart
Owners: @ricardoamador

Updated to enable some checks in the repo configuration test.
  auto_submit/test/configuration/repository_configuration_test.dart
Owners: @ricardoamador

[dashboard] Show release branches regardless of repo
  dashboard/lib/build_dashboard_page.dart
  dashboard/lib/logic/qualified_task.dart
  dashboard/lib/service/dev_cocoon.dart
Owners: none

[dashboard] Show release branches regardless of repo (#3093)
  dashboard/lib/build_dashboard_page.dart
  dashboard/lib/logic/qualified_task.dart
  dashboard/lib/service/dev_cocoon.dart
Owners: none

Automatic Revert (Part 2): Add config support for automated revert (#3084)
  auto_submit/lib/requests/github_pull_request_event.dart
  auto_submit/lib/requests/github_pull_request_event.g.dart
  auto_submit/lib/service/config.dart
  auto_submit/test/configuration/repository_configuration_data.dart
  auto_submit/test/src/service/fake_config.dart
Owners: @ricardoamador

Automatic Revert (Part 3): Add supporting test files for the automatic revert feature (#3085)
  auto_submit/lib/model/auto_submit_query_result.dart
  auto_submit/lib/model/auto_submit_query_result.g.dart
  auto_submit/test/src/validations/fake_approval.dart
  auto_submit/test/src/validations/fake_mergeable.dart
  auto_submit/test/src/validations/fake_required_check_runs.dart
  auto_submit/test/src/validations/fake_validation_filter.dart
Owners: @ricardoamador

Regenerate mocks.
  auto_submit/lib/service/config.dart
  auto_submit/lib/service/github_service.dart
  auto_submit/lib/service/revert_request_validation_service.dart
  auto_submit/lib/validations/approval.dart
  auto_submit/test/utilities/mocks.mocks.dart
Owners: @ricardoamador

Automated Revert (Part 4): The automatic revert functionality (#3089)
  auto_submit/lib/requests/check_revert_request.dart
  auto_submit/lib/requests/github_webhook.dart
  auto_submit/lib/service/approver_service.dart
  auto_submit/lib/service/config.dart
  auto_submit/lib/service/github_service.dart
  auto_submit/lib/service/pull_request_validation_service.dart
  auto_submit/lib/service/revert_request_validation_service.dart
  auto_submit/lib/validations/approval.dart
  auto_submit/lib/validations/revert.dart
  auto_submit/lib/validations/validation_filter.dart
  auto_submit/test/requests/github_webhook_test_data.dart
  auto_submit/test/service/approver_service_test.dart
  auto_submit/test/service/revert_request_validation_service_test.dart
  auto_submit/test/src/service/fake_approver_service.dart
  auto_submit/test/src/service/fake_github_service.dart
  auto_submit/test/src/validations/fake_revert.dart
  auto_submit/test/utilities/mocks.mocks.dart
  auto_submit/test/utilities/utils.dart
  auto_submit/test/validations/revert_test.dart
Owners: @ricardoamador

[app_dart] Add FRoB Webhook endpoint
  app_dart/bin/server.dart
  app_dart/lib/src/request_handlers/github_webhook.dart
  app_dart/lib/src/service/config.dart
  app_dart/test/request_handlers/github_webhook_test.dart
  app_dart/test/src/datastore/fake_config.dart
Owners: none

ff
  app_dart/lib/src/request_handlers/github_webhook.dart
Owners: none

[app_dart] Remove branch datastore logic
  app_dart/bin/server.dart
  app_dart/lib/cocoon_service.dart
  app_dart/lib/src/request_handlers/get_branches.dart
  app_dart/lib/src/request_handlers/github/branch_subscription.dart
  app_dart/lib/src/request_handlers/update_branches.dart
  app_dart/lib/src/service/branch_service.dart
  app_dart/test/request_handlers/get_branches_test.dart
  app_dart/test/request_handlers/github/branch_subscription_test.dart
  app_dart/test/request_handlers/update_branches_test.dart
  app_dart/test/service/branch_service_test.dart
Owners: none

Add TODO
  app_dart/bin/server.dart
Owners: none

[app_dart] Remove branch datastore logic (#3099)
  app_dart/bin/server.dart
  app_dart/lib/cocoon_service.dart
  app_dart/lib/src/request_handlers/get_branches.dart
  app_dart/lib/src/request_handlers/github/branch_subscription.dart
  app_dart/lib/src/request_handlers/update_branches.dart
  app_dart/lib/src/service/branch_service.dart
  app_dart/test/request_handlers/get_branches_test.dart
  app_dart/test/request_handlers/github/branch_subscription_test.dart
  app_dart/test/request_handlers/update_branches_test.dart
  app_dart/test/service/branch_service_test.dart
Owners: none

Updated to remove hardcoded test strings.
  auto_submit/lib/action/git_cli_revert_method.dart
  auto_submit/lib/action/revert_method.dart
  auto_submit/lib/service/revert_request_validation_service.dart
  auto_submit/test/src/action/fake_revert_method.dart
Owners: @ricardoamador
