Repository flutter/cocoon, changes with the owners that CODEOWNERS names for each.
All owners: @ricardoamador, @XilaiZhang, @yusuf-goog, @gspencergoog

CODEOWNERS:

# Below is a list of Flutter team members' GitHub handles who are
# suggested reviewers for contributions to this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

auto_submit                                        @ricardoamador
cipd_packages/codesign/**                          @XilaiZhang
cipd_packages/device_doctor/**                     @yusuf-goog
cipd_packages/doxygen/**                           @gspencergoog

Formatting.
  auto_submit/lib/action/git_cli_revert_method.dart
Owners: @ricardoamador

[app_dart] Add FRoB Webhook endpoint (#3096)
  app_dart/bin/server.dart
  app_dart/lib/src/request_handlers/github_webhook.dart
  app_dart/lib/src/service/config.dart
  app_dart/test/request_handlers/github_webhook_test.dart
  app_dart/test/src/datastore/fake_config.dart
Owners: none

Added trailing comma
  auto_submit/lib/action/git_cli_revert_method.dart
Owners: @ricardoamador

Format again.
  auto_submit/lib/action/git_cli_revert_method.dart
Owners: @ricardoamador

Updated to remove hardcoded test strings (#3101)
  auto_submit/lib/action/git_cli_revert_method.dart
  auto_submit/lib/action/revert_method.dart
  auto_submit/lib/service/revert_request_validation_service.dart
  auto_submit/test/src/action/fake_revert_method.dart
Owners: @ricardoamador

Add deletion of 3p packages to devicedoctor recovery.
  cipd_packages/device_doctor/lib/src/android_device.dart
  cipd_packages/device_doctor/test/src/android_device_test.dart
Owners: @yusuf-goog

Add deletion of 3p packages to devicedoctor recovery. (#3100)
  cipd_packages/device_doctor/lib/src/android_device.dart
  cipd_packages/device_doctor/test/src/android_device_test.dart
Owners: @yusuf-goog
